@import './colors.scss';

@mixin position {
    width: 70vw;
    height: 10vh;
    margin-left: 50%;
    margin-right: 50%;
    top: 22vh;
    position: absolute;
    transform: translate(-50%, -50%);
}

.searchInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 7vh;
    padding-right: 15px;
    outline-color: $red;
    opacity: 0.9;
    border-radius: 4px;
    background-color: rgba(35, 35, 35, 0.8);
    box-shadow: 0 4px 0 0 rgba(246, 82, 97, 0.3);
    border-width: 0;

    &:hover {
        opacity: 1;
    }

    &>input {
        outline: none;
        background-color: inherit;
        border: inherit;
        width: 100%;
        padding-left: 12px;
        color: $white;
        font-size: 24px;
    }
}

.searchHeader {
    color: $white;

    &>h1 {
        font-family: sans-serif;
        font-weight: 100;
    }
}

.search {
    @include position();
}

.sortToggle {
    float: right;
    margin-right: 7vw;
}